.spotify{
	text-align:center;
}

.spotify .artist,
.spotify .image{
	margin-bottom:15px;
}

.spotify .image{
	max-width:50%;
	margin:15px 0;
}

.spotify .instructions{
	font-size:12px;
	margin:15px 0;
}
